public/404.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__content wrapper__content--wide">
          <div class="header">
            <div class="header__wrapper">
              <div class="header__title"><a class="header__back" href="index.html"></a>
                <div class="h2 mb-0">Организация</div>
              </div>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a><a class="menu__btn menu__btn--active" href="#"></a>
                    <div class="menu__content"><a class="logo menu__logo" href="index.html"><img src="./img/logo.svg" alt></a><a class="menu__item menu__item--active p" href="#">Города</a><a class="menu__item p" href="#">Новости</a><a class="menu__item p" href="#">Организация</a>
                      <div class="menu__submenu"><a class="menu__submenu-item menu__submenu-item--active" href="#">Руководство</a><a class="menu__submenu-item" href="#">Техническая документация</a><a class="menu__submenu-item" href="#">Карьера</a><a class="menu__submenu-item" href="#">Контакты</a></div><a class="menu__item p" href="#">FIVB</a>
                        <div class="socials menu__socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
                        </div>
                    </div>
                  </div><a class="header__user" href="#"></a>
              </div>
            </div>
          </div>
        <div class="container-fluid my-30 my-lg-75">
          <div class="error">
            <div class="error__content">
              <div class="error__header">404</div>
              <p class="error__subheader">Такой страницы не существует</p><a class="p text-primary" href="#">Вернуться на главную</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="footer footer--inner">
        <div class="container-fluid">
          <div class="row footer__wrapper">
            <div class="col-lg-8 d-flex">
              <div class="footer__left">
                <div class="footer__left-top">
                  <div class="footer__contact">г. Москва, ул. Пресненский Вал, 27</div><a class="footer__contact" href="#">+7 495 109-02-00</a><a class="footer__contact" href="#">info@ruvents.com</a>
                </div>
                <div class="footer__copyright">© 2020</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer__right">
                <div class="footer__right-top">
                  <p class="mb-30">Организация</p>
                  <div class="footer__links-list"><a class="footer__link" href="#">Карьера</a><a class="footer__link" href="#">Руководство</a><a class="footer__link" href="#">Пресс-служба</a><a class="footer__link" href="#">Контакты</a><a class="footer__link" href="#">Техническая документация</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/404.pug
extends ../templates/template.pug
block content
  .wrapper
    .wrapper__content.wrapper__content--wide
      +header({
        title: 'Организация'
      })
      .container-fluid.my-30.my-lg-75
        .error
          .error__content
            .error__header 404
            p.error__subheader Такой страницы не существует
            a.p.text-primary(href="#") Вернуться на главную
  +footer.footer--inner
