public/application.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
        <div class="sidebar wrapper__sidebar">
          <div class="sidebar__top"><a class="logo" href="index.html"><img src="./img/logo.svg" alt></a>
          </div>
          <div class="sidebar__bottom">
              <div class="socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
              </div>
          </div>
        </div>
      <div class="wrapper__content">
          <div class="header">
            <div class="header__wrapper">
              <div class="header__title"><a class="header__back" href="index.html"></a>
                <div class="h2 mb-0">Организация</div>
              </div>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a><a class="menu__btn menu__btn--active" href="#"></a>
                    <div class="menu__content"><a class="logo menu__logo" href="index.html"><img src="./img/logo.svg" alt></a><a class="menu__item menu__item--active p" href="#">Города</a><a class="menu__item p" href="#">Новости</a><a class="menu__item p" href="#">Организация</a>
                      <div class="menu__submenu"><a class="menu__submenu-item menu__submenu-item--active" href="#">Руководство</a><a class="menu__submenu-item" href="#">Техническая документация</a><a class="menu__submenu-item" href="#">Карьера</a><a class="menu__submenu-item" href="#">Контакты</a></div><a class="menu__item p" href="#">FIVB</a>
                        <div class="socials menu__socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
                        </div>
                    </div>
                  </div><a class="header__user" href="#"></a>
              </div>
            </div>
              <div class="submenu">
                <div class="submenu__content"><a class="submenu__link submenu__link--active p font-weight-black text-uppercase" href="#">Руководство</a><a class="submenu__link p" href="#">Техническая документация</a><a class="submenu__link p" href="#">Карьера</a><a class="submenu__link p" href="#">Контакты</a></div>
              </div>
          </div>
        <div class="container-fluid my-30 my-lg-40">
          <div class="row">
            <div class="col-xl-6">
              <h3>заполните заявку</h3>
              <p class="lg mb-30">Если вы желаете направить свое резюме в АНО "Оргкомитет волейбол 2022", пожалуйста, заполните форму</p>
            </div>
          </div>
          <form class="form" action="#" method="POST">
            <div class="row">
              <div class="col-xl-3 col-sm-6">
                <div class="form__item">
                  <input class="input form-control" type="text" placeholder="Фамилия">
                  <label class="form__label">Фамилия</label>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6">
                <div class="form__item">
                  <input class="input input--active form-control" type="text" placeholder="Имя" value="Игорь">
                  <label class="form__label">Имя</label>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6">
                <div class="form__item">
                  <input class="input form-control" type="text" placeholder="Отчество">
                  <label class="form__label">Отчество</label>
                </div>
              </div>
              <div class="col-xl-2 col-sm-6">
                <div class="form__item">
                  <input class="input form-control" type="text" placeholder="Возраст">
                  <label class="form__label">Возраст</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-sm-6">
                <div class="form__item">
                  <input class="input form-control" type="text" placeholder="Контактный телефон">
                  <label class="form__label">Контактный телефон</label>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6">
                <div class="form__item">
                  <input class="input form-control" type="text" placeholder="Контактный e-mail">
                  <label class="form__label">Контактный e-mail</label>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6">
                <div class="form__item">
                    <div class="select">
                      <select class="select__input">
                        <option data-placeholder="true" value="undefined">Желаемое направление</option>
                        <option>Вариант 1</option>
                        <option>Вариант 2</option>
                        <option>Вариант 3</option>
                      </select>
                    </div>
                </div>
              </div>
            </div>
            <div class="form__item d-flex align-items-sm-center flex-column flex-sm-row">
              <div class="custom-file mr-sm-30 mb-20 mb-sm-0">
                <input class="custom-file-input" id="customFile" type="file">
                <label class="custom-file-label" for="customFile">Приложить файл резюме</label>
              </div>
              <div class="form__file">
                <div class="form__file-header">
                  <div class="form__file-name">Filename.pdf (4mb)</div><a class="form__file-remove" href="#"></a>
                </div>
                <div class="form__file-dscr">Файл .doc .pdf не более 4 mb</div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-9">
                <div class="form__item">
                  <textarea class="input input--textarea form-control" type="text" placeholder="Сопроводительное письмо до 2000 знаков"></textarea>
                  <label class="form__label">Сопроводительное письмо до 2000 знаков</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-sm-6"><a class="btn btn-primary w-100" href="#">Отправить</a></div>
              <div class="col-xl-3 col-lg-4 col-sm-6 d-flex align-items-center">
                <div class="form__agreement">Отправляя форму я соглашаюсь с <a href="#">политикой конфиденциальности </a>и условиями <a href="#">обработки персональных данных</a></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
      <div class="footer footer--inner">
        <div class="container-fluid">
          <div class="row footer__wrapper">
            <div class="col-lg-8 d-flex">
              <div class="footer__left">
                <div class="footer__left-top">
                  <div class="footer__contact">г. Москва, ул. Пресненский Вал, 27</div><a class="footer__contact" href="#">+7 495 109-02-00</a><a class="footer__contact" href="#">info@ruvents.com</a>
                </div>
                <div class="footer__copyright">© 2020</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer__right">
                <div class="footer__right-top">
                  <p class="mb-30">Организация</p>
                  <div class="footer__links-list"><a class="footer__link" href="#">Карьера</a><a class="footer__link" href="#">Руководство</a><a class="footer__link" href="#">Пресс-служба</a><a class="footer__link" href="#">Контакты</a><a class="footer__link" href="#">Техническая документация</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/application.pug
extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: 'Организация',
        modifier: 'submenu'
      })
      .container-fluid.my-30.my-lg-40
        .row
          .col-xl-6
            h3 заполните заявку
            p.lg.mb-30 Если вы желаете направить свое резюме в АНО "Оргкомитет волейбол 2022", пожалуйста, заполните форму
        form.form(action="#", method="POST")
          .row
            .col-xl-3.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Фамилия")
                label.form__label Фамилия
            .col-xl-3.col-sm-6
              .form__item
                input.input.input--active.form-control(type="text", placeholder="Имя", value="Игорь")
                label.form__label Имя
            .col-xl-3.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Отчество")
                label.form__label Отчество
            .col-xl-2.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Возраст")
                label.form__label Возраст
          .row
            .col-xl-3.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Контактный телефон")
                label.form__label Контактный телефон
            .col-xl-3.col-sm-6
              .form__item
                input.input.form-control(type="text", placeholder="Контактный e-mail")
                label.form__label Контактный e-mail
            .col-xl-3.col-sm-6
              .form__item
                +select({
                  placeholder: 'Желаемое направление'
                })
          .form__item.d-flex.align-items-sm-center.flex-column.flex-sm-row
              .custom-file.mr-sm-30.mb-20.mb-sm-0
                input#customFile.custom-file-input(type='file')
                label.custom-file-label(for='customFile') Приложить файл резюме
              .form__file
                .form__file-header
                  .form__file-name Filename.pdf (4mb)
                  a.form__file-remove(href="#")
                .form__file-dscr Файл .doc .pdf не более 4 mb
          .row
            .col-xl-9
              .form__item
                textarea.input.input--textarea.form-control(type="text", placeholder="Сопроводительное письмо до 2000 знаков")
                label.form__label Сопроводительное письмо до 2000 знаков
          .row
            .col-xl-3.col-lg-4.col-sm-6
              a.btn.btn-primary.w-100(href="#") Отправить
            .col-xl-3.col-lg-4.col-sm-6.d-flex.align-items-center
              .form__agreement Отправляя форму я соглашаюсь с 
                a(href="#") политикой конфиденциальности 
                | и условиями 
                a(href="#") обработки персональных данных
  +footer.footer--inner
