src/pages/article.pug
extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: true,
        modifier: 'back-only'
      })
      .article
        .container-fluid.overflow-hidden
          .row
            .col-xl-9.col-xxl-8.mx-auto
              .article__content
                h2.mb-25 FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году
                p.sm.mb-30.mb-lg-50 12 декабря 2020
                img(src="./img/article-1.jpg", alt)
                p Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
                p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
        .container-fluid.overflow-hidden.position-relative
          .row
            .col-xl-8.col-xxl-6.mx-auto.position-static
              .slider.slider--pictures.position-static
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-1.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-2.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-3.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-1.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-2.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
                .slider__item
                  .slider__picture
                    img.img-fluid.slider__picture-content(src="./img/slider-3.jpeg", alt)
                  p.slider__item-dscr Подпись к фотографии
        .container-fluid
          .row
            .col-xl-10.col-xxl-8.mx-auto
              .article__share
                .p.sm.font-weight-bold.mr-30.mb-10.mb-sm-0 Поделиться
                img.my-0(src="./img/share.png", alt)
        .article__news
          .container-fluid
            h2.text-dark.mb-30.mb-lg-40 Другие новости
            .row
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news
              .col-sm-6.col-lg-4.col-xxl-3.mb-30
                +news({
                  modifier: 'all'
                }).news--all
  +footer.footer--inner

public/article.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
        <div class="sidebar wrapper__sidebar">
          <div class="sidebar__top"><a class="logo" href="index.html"><img src="./img/logo.svg" alt></a>
          </div>
          <div class="sidebar__bottom">
              <div class="socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
              </div>
          </div>
        </div>
      <div class="wrapper__content">
          <div class="header">
            <div class="header__wrapper">
              <div class="header__title"><a class="header__back" href="index.html"></a>
              </div>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a><a class="menu__btn menu__btn--active" href="#"></a>
                    <div class="menu__content"><a class="logo menu__logo" href="index.html"><img src="./img/logo.svg" alt></a><a class="menu__item menu__item--active p" href="#">Города</a><a class="menu__item p" href="#">Новости</a><a class="menu__item p" href="#">Организация</a>
                      <div class="menu__submenu"><a class="menu__submenu-item menu__submenu-item--active" href="#">Руководство</a><a class="menu__submenu-item" href="#">Техническая документация</a><a class="menu__submenu-item" href="#">Карьера</a><a class="menu__submenu-item" href="#">Контакты</a></div><a class="menu__item p" href="#">FIVB</a>
                        <div class="socials menu__socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
                        </div>
                    </div>
                  </div><a class="header__user" href="#"></a>
              </div>
            </div>
          </div>
        <div class="article">
          <div class="container-fluid overflow-hidden">
            <div class="row">
              <div class="col-xl-9 col-xxl-8 mx-auto">
                <div class="article__content">
                  <h2 class="mb-25">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</h2>
                  <p class="sm mb-30 mb-lg-50">12 декабря 2020</p><img src="./img/article-1.jpg" alt>
                  <p>Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.</p>
                  <p>Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).</p>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid overflow-hidden position-relative">
            <div class="row">
              <div class="col-xl-8 col-xxl-6 mx-auto position-static">
                <div class="slider slider--pictures position-static">
                  <div class="slider__item">
                    <div class="slider__picture"><img class="img-fluid slider__picture-content" src="./img/slider-1.jpeg" alt></div>
                    <p class="slider__item-dscr">Подпись к фотографии</p>
                  </div>
                  <div class="slider__item">
                    <div class="slider__picture"><img class="img-fluid slider__picture-content" src="./img/slider-2.jpeg" alt></div>
                    <p class="slider__item-dscr">Подпись к фотографии</p>
                  </div>
                  <div class="slider__item">
                    <div class="slider__picture"><img class="img-fluid slider__picture-content" src="./img/slider-3.jpeg" alt></div>
                    <p class="slider__item-dscr">Подпись к фотографии</p>
                  </div>
                  <div class="slider__item">
                    <div class="slider__picture"><img class="img-fluid slider__picture-content" src="./img/slider-1.jpeg" alt></div>
                    <p class="slider__item-dscr">Подпись к фотографии</p>
                  </div>
                  <div class="slider__item">
                    <div class="slider__picture"><img class="img-fluid slider__picture-content" src="./img/slider-2.jpeg" alt></div>
                    <p class="slider__item-dscr">Подпись к фотографии</p>
                  </div>
                  <div class="slider__item">
                    <div class="slider__picture"><img class="img-fluid slider__picture-content" src="./img/slider-3.jpeg" alt></div>
                    <p class="slider__item-dscr">Подпись к фотографии</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-10 col-xxl-8 mx-auto">
                <div class="article__share">
                  <div class="p sm font-weight-bold mr-30 mb-10 mb-sm-0">Поделиться</div><img class="my-0" src="./img/share.png" alt>
                </div>
              </div>
            </div>
          </div>
          <div class="article__news">
            <div class="container-fluid">
              <h2 class="text-dark mb-30 mb-lg-40">Другие новости</h2>
              <div class="row">
                <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                      <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                      <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                </div>
                <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                      <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                      <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                </div>
                <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                      <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                      <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                </div>
                <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                      <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                      <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                </div>
                <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                      <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                      <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                </div>
                <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                      <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                      <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                </div>
                <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                      <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                      <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                </div>
                <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news news--all" href="#">
                      <div class="h2 mb-0 text-white">Архив <br>новостей</div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="footer footer--inner">
        <div class="container-fluid">
          <div class="row footer__wrapper">
            <div class="col-lg-8 d-flex">
              <div class="footer__left">
                <div class="footer__left-top">
                  <div class="footer__contact">г. Москва, ул. Пресненский Вал, 27</div><a class="footer__contact" href="#">+7 495 109-02-00</a><a class="footer__contact" href="#">info@ruvents.com</a>
                </div>
                <div class="footer__copyright">© 2020</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer__right">
                <div class="footer__right-top">
                  <p class="mb-30">Организация</p>
                  <div class="footer__links-list"><a class="footer__link" href="#">Карьера</a><a class="footer__link" href="#">Руководство</a><a class="footer__link" href="#">Пресс-служба</a><a class="footer__link" href="#">Контакты</a><a class="footer__link" href="#">Техническая документация</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
