src/pages/index.pug
extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="career.html", style="font-size: 20px;") Career
          li(style="list-style: none;")
            a.d-block.my-20(href="management.html", style="font-size: 20px;") Management
          li(style="list-style: none;")
            a.d-block.my-20(href="press.html", style="font-size: 20px;") Press
          li(style="list-style: none;")
            a.d-block.my-20(href="documentation.html", style="font-size: 20px;") Documentation
          li(style="list-style: none;")
            a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20(href="404.html", style="font-size: 20px;") 404
          li(style="list-style: none;")
            a.d-block.my-20(href="news.html", style="font-size: 20px;") News
          li(style="list-style: none;")
            a.d-block.my-20(href="organization.html", style="font-size: 20px;") Organization
          li(style="list-style: none;")
            a.d-block.my-20(href="city.html", style="font-size: 20px;") City
          li(style="list-style: none;")
            a.d-block.my-20(href="application.html", style="font-size: 20px;") Application

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="container py-50">
      <h2 class="mb-20 pb-10 border-bottom">Список страниц</h2>
      <div class="row">
        <div class="col-md-4">
          <ul class="pl-0">
            <li style="list-style: none;"><a class="d-block my-20" href="main.html" style="font-size: 20px;">Main</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="career.html" style="font-size: 20px;">Career</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="management.html" style="font-size: 20px;">Management</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="press.html" style="font-size: 20px;">Press</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="documentation.html" style="font-size: 20px;">Documentation</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="article.html" style="font-size: 20px;">Article</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="404.html" style="font-size: 20px;">404</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="news.html" style="font-size: 20px;">News</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="organization.html" style="font-size: 20px;">Organization</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="city.html" style="font-size: 20px;">City</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="application.html" style="font-size: 20px;">Application</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
