src/pages/main.pug
extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      .main
        .section.front__wrapper(data-anchor="section1")
          +header.header--main.header--main-top
          +front
        .section.section--center(data-anchor="section2")
          +header({
            section: 'Города-участники'
          }).header--main
          .section__content
            .container-fluid
              +cities
        .section.section--center(data-anchor="section3")
          +header({
            section: 'О турнире'
          }).header--main
          .section__content
            .container-fluid.px-xl-0.overflow-hidden.section__cards
              .row
                .col-xl-9.mx-auto.position-static
                  .slider.position-static
                    .slider__item
                      +card
                    .slider__item
                      +card
                    .slider__item
                      +card
                    .slider__item
                      +card
                    .slider__item
                      +card
                    .slider__item
                      +card
        .section.section--center(data-anchor="section4")
          +header({
            section: 'Актуальное из Instagram'
          }).header--main
          .section__content
            .container-fluid.section__instagram
              .row
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-1.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-2.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-3.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-4.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-1.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-2.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-3.jpg',
                  })
                .col-6.col-lg-3.mb-20.mb-xxl-30
                  +photo({
                    picture: 'photo-4.jpg',
                  })
          a.section__instagram-link.p(href="#") instagram.name
        .section.section--blue(data-anchor="section5")
          +header({
            section: 'Новости'
          }).header--light.header--main
          .section__top.position-relative
            .container-fluid
              .row.pt-20.pt-xl-100.pb-20.pb-xl-100
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news
                .col-sm-6.col-lg-4.col-xxl-3.mb-30
                  +news({
                    modifier: 'all'
                  }).news--all
          .section__bottom    
            +footer

public/main.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
        <div class="sidebar wrapper__sidebar">
          <div class="sidebar__top"><a class="logo" href="index.html"><img src="./img/logo.svg" alt></a>
          </div>
          <div class="sidebar__bottom">
              <div class="socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
              </div>
          </div>
        </div>
      <div class="wrapper__content">
        <div class="main">
          <div class="section front__wrapper" data-anchor="section1">
              <div class="header header--main header--main-top">
                <div class="header__wrapper">
                  <div class="header__right">
                      <div class="menu"><a class="menu__btn" href="#"></a><a class="menu__btn menu__btn--active" href="#"></a>
                        <div class="menu__content"><a class="logo menu__logo" href="index.html"><img src="./img/logo.svg" alt></a><a class="menu__item menu__item--active p" href="#">Города</a><a class="menu__item p" href="#">Новости</a><a class="menu__item p" href="#">Организация</a>
                          <div class="menu__submenu"><a class="menu__submenu-item menu__submenu-item--active" href="#">Руководство</a><a class="menu__submenu-item" href="#">Техническая документация</a><a class="menu__submenu-item" href="#">Карьера</a><a class="menu__submenu-item" href="#">Контакты</a></div><a class="menu__item p" href="#">FIVB</a>
                            <div class="socials menu__socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
                            </div>
                        </div>
                      </div><a class="header__user" href="#"></a>
                  </div>
                </div>
              </div>
              <div class="front">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-10 mx-auto">
                      <div class="row">
                        <div class="col-lg-6"><img class="front__title mb-lg-45 mb-20" src="./img/front-header.svg" alt>
                          <h1 class="text-dark mb-lg-40 mb-20">МИРОВОЙ ЧЕМПИОНАТ <br>ПО ВОЛЕЙБОЛУ</h1><a class="btn btn-outline-primary" href="#">Кнопка</a><a class="front__arrow" href="#section2"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="section section--center" data-anchor="section2">
              <div class="header header--main">
                <div class="header__wrapper">
                  <div class="header__title">
                    <div class="h2 mb-0">Города-участники</div>
                  </div>
                  <div class="header__right">
                      <div class="menu"><a class="menu__btn" href="#"></a><a class="menu__btn menu__btn--active" href="#"></a>
                        <div class="menu__content"><a class="logo menu__logo" href="index.html"><img src="./img/logo.svg" alt></a><a class="menu__item menu__item--active p" href="#">Города</a><a class="menu__item p" href="#">Новости</a><a class="menu__item p" href="#">Организация</a>
                          <div class="menu__submenu"><a class="menu__submenu-item menu__submenu-item--active" href="#">Руководство</a><a class="menu__submenu-item" href="#">Техническая документация</a><a class="menu__submenu-item" href="#">Карьера</a><a class="menu__submenu-item" href="#">Контакты</a></div><a class="menu__item p" href="#">FIVB</a>
                            <div class="socials menu__socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
                            </div>
                        </div>
                      </div><a class="header__user" href="#"></a>
                  </div>
                </div>
              </div>
            <div class="section__content">
              <div class="container-fluid">
                  <div class="cities"><a class="city" href="#"><img class="city__picture" src="./img/city-1.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Москва</div></a><a class="city" href="#"><img class="city__picture" src="./img/city-2.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Санкт-Петербург</div></a><a class="city" href="#"><img class="city__picture" src="./img/city-3.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Казань</div></a><a class="city" href="#"><img class="city__picture" src="./img/city-4.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Екатеринбург</div></a><a class="city" href="#"><img class="city__picture" src="./img/city-5.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Калининград</div></a><a class="city" href="#"><img class="city__picture" src="./img/city-6.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Уфа</div></a><a class="city" href="#"><img class="city__picture" src="./img/city-7.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Новосибирск</div></a><a class="city" href="#"><img class="city__picture" src="./img/city-8.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Красноярск</div></a><a class="city" href="#"><img class="city__picture" src="./img/city-9.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Кемерово</div></a><a class="city" href="#"><img class="city__picture" src="./img/city-10.jpg" alt>
                        <div class="city__title p text-uppercase text-white">Ярославль</div></a>
                  </div>
              </div>
            </div>
          </div>
          <div class="section section--center" data-anchor="section3">
              <div class="header header--main">
                <div class="header__wrapper">
                  <div class="header__title">
                    <div class="h2 mb-0">О турнире</div>
                  </div>
                  <div class="header__right">
                      <div class="menu"><a class="menu__btn" href="#"></a><a class="menu__btn menu__btn--active" href="#"></a>
                        <div class="menu__content"><a class="logo menu__logo" href="index.html"><img src="./img/logo.svg" alt></a><a class="menu__item menu__item--active p" href="#">Города</a><a class="menu__item p" href="#">Новости</a><a class="menu__item p" href="#">Организация</a>
                          <div class="menu__submenu"><a class="menu__submenu-item menu__submenu-item--active" href="#">Руководство</a><a class="menu__submenu-item" href="#">Техническая документация</a><a class="menu__submenu-item" href="#">Карьера</a><a class="menu__submenu-item" href="#">Контакты</a></div><a class="menu__item p" href="#">FIVB</a>
                            <div class="socials menu__socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
                            </div>
                        </div>
                      </div><a class="header__user" href="#"></a>
                  </div>
                </div>
              </div>
            <div class="section__content">
              <div class="container-fluid px-xl-0 overflow-hidden section__cards">
                <div class="row">
                  <div class="col-xl-9 mx-auto position-static">
                    <div class="slider position-static">
                      <div class="slider__item"><a class="card" href="#">
                            <div class="row">
                              <div class="col-lg-7 d-flex">
                                <div class="card__content">
                                  <h4>Заголовок материала</h4>
                                  <p>Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.</p>
                                  <p>Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).</p>
                                </div>
                              </div>
                              <div class="col-lg-5 d-flex">
                                <div class="card__picture-wrapper"><img class="card__picture" src="./img/card-1.jpg" alt>
                                  <div class="card__title p text-uppercase text-white mb-0">Екатеринбург</div>
                                </div>
                              </div>
                            </div></a>
                      </div>
                      <div class="slider__item"><a class="card" href="#">
                            <div class="row">
                              <div class="col-lg-7 d-flex">
                                <div class="card__content">
                                  <h4>Заголовок материала</h4>
                                  <p>Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.</p>
                                  <p>Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).</p>
                                </div>
                              </div>
                              <div class="col-lg-5 d-flex">
                                <div class="card__picture-wrapper"><img class="card__picture" src="./img/card-1.jpg" alt>
                                  <div class="card__title p text-uppercase text-white mb-0">Екатеринбург</div>
                                </div>
                              </div>
                            </div></a>
                      </div>
                      <div class="slider__item"><a class="card" href="#">
                            <div class="row">
                              <div class="col-lg-7 d-flex">
                                <div class="card__content">
                                  <h4>Заголовок материала</h4>
                                  <p>Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.</p>
                                  <p>Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).</p>
                                </div>
                              </div>
                              <div class="col-lg-5 d-flex">
                                <div class="card__picture-wrapper"><img class="card__picture" src="./img/card-1.jpg" alt>
                                  <div class="card__title p text-uppercase text-white mb-0">Екатеринбург</div>
                                </div>
                              </div>
                            </div></a>
                      </div>
                      <div class="slider__item"><a class="card" href="#">
                            <div class="row">
                              <div class="col-lg-7 d-flex">
                                <div class="card__content">
                                  <h4>Заголовок материала</h4>
                                  <p>Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.</p>
                                  <p>Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).</p>
                                </div>
                              </div>
                              <div class="col-lg-5 d-flex">
                                <div class="card__picture-wrapper"><img class="card__picture" src="./img/card-1.jpg" alt>
                                  <div class="card__title p text-uppercase text-white mb-0">Екатеринбург</div>
                                </div>
                              </div>
                            </div></a>
                      </div>
                      <div class="slider__item"><a class="card" href="#">
                            <div class="row">
                              <div class="col-lg-7 d-flex">
                                <div class="card__content">
                                  <h4>Заголовок материала</h4>
                                  <p>Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.</p>
                                  <p>Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).</p>
                                </div>
                              </div>
                              <div class="col-lg-5 d-flex">
                                <div class="card__picture-wrapper"><img class="card__picture" src="./img/card-1.jpg" alt>
                                  <div class="card__title p text-uppercase text-white mb-0">Екатеринбург</div>
                                </div>
                              </div>
                            </div></a>
                      </div>
                      <div class="slider__item"><a class="card" href="#">
                            <div class="row">
                              <div class="col-lg-7 d-flex">
                                <div class="card__content">
                                  <h4>Заголовок материала</h4>
                                  <p>Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.</p>
                                  <p>Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).</p>
                                </div>
                              </div>
                              <div class="col-lg-5 d-flex">
                                <div class="card__picture-wrapper"><img class="card__picture" src="./img/card-1.jpg" alt>
                                  <div class="card__title p text-uppercase text-white mb-0">Екатеринбург</div>
                                </div>
                              </div>
                            </div></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section section--center" data-anchor="section4">
              <div class="header header--main">
                <div class="header__wrapper">
                  <div class="header__title">
                    <div class="h2 mb-0">Актуальное из Instagram</div>
                  </div>
                  <div class="header__right">
                      <div class="menu"><a class="menu__btn" href="#"></a><a class="menu__btn menu__btn--active" href="#"></a>
                        <div class="menu__content"><a class="logo menu__logo" href="index.html"><img src="./img/logo.svg" alt></a><a class="menu__item menu__item--active p" href="#">Города</a><a class="menu__item p" href="#">Новости</a><a class="menu__item p" href="#">Организация</a>
                          <div class="menu__submenu"><a class="menu__submenu-item menu__submenu-item--active" href="#">Руководство</a><a class="menu__submenu-item" href="#">Техническая документация</a><a class="menu__submenu-item" href="#">Карьера</a><a class="menu__submenu-item" href="#">Контакты</a></div><a class="menu__item p" href="#">FIVB</a>
                            <div class="socials menu__socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
                            </div>
                        </div>
                      </div><a class="header__user" href="#"></a>
                  </div>
                </div>
              </div>
            <div class="section__content">
              <div class="container-fluid section__instagram">
                <div class="row">
                  <div class="col-6 col-lg-3 mb-20 mb-xxl-30"><a class="photo" href="#"><img class="photo__picture" src="./img/photo-1.jpg" alt></a>
                  </div>
                  <div class="col-6 col-lg-3 mb-20 mb-xxl-30"><a class="photo" href="#"><img class="photo__picture" src="./img/photo-2.jpg" alt></a>
                  </div>
                  <div class="col-6 col-lg-3 mb-20 mb-xxl-30"><a class="photo" href="#"><img class="photo__picture" src="./img/photo-3.jpg" alt></a>
                  </div>
                  <div class="col-6 col-lg-3 mb-20 mb-xxl-30"><a class="photo" href="#"><img class="photo__picture" src="./img/photo-4.jpg" alt></a>
                  </div>
                  <div class="col-6 col-lg-3 mb-20 mb-xxl-30"><a class="photo" href="#"><img class="photo__picture" src="./img/photo-1.jpg" alt></a>
                  </div>
                  <div class="col-6 col-lg-3 mb-20 mb-xxl-30"><a class="photo" href="#"><img class="photo__picture" src="./img/photo-2.jpg" alt></a>
                  </div>
                  <div class="col-6 col-lg-3 mb-20 mb-xxl-30"><a class="photo" href="#"><img class="photo__picture" src="./img/photo-3.jpg" alt></a>
                  </div>
                  <div class="col-6 col-lg-3 mb-20 mb-xxl-30"><a class="photo" href="#"><img class="photo__picture" src="./img/photo-4.jpg" alt></a>
                  </div>
                </div>
              </div>
            </div><a class="section__instagram-link p" href="#">instagram.name</a>
          </div>
          <div class="section section--blue" data-anchor="section5">
              <div class="header header--light header--main">
                <div class="header__wrapper">
                  <div class="header__title">
                    <div class="h2 mb-0">Новости</div>
                  </div>
                  <div class="header__right">
                      <div class="menu"><a class="menu__btn" href="#"></a><a class="menu__btn menu__btn--active" href="#"></a>
                        <div class="menu__content"><a class="logo menu__logo" href="index.html"><img src="./img/logo.svg" alt></a><a class="menu__item menu__item--active p" href="#">Города</a><a class="menu__item p" href="#">Новости</a><a class="menu__item p" href="#">Организация</a>
                          <div class="menu__submenu"><a class="menu__submenu-item menu__submenu-item--active" href="#">Руководство</a><a class="menu__submenu-item" href="#">Техническая документация</a><a class="menu__submenu-item" href="#">Карьера</a><a class="menu__submenu-item" href="#">Контакты</a></div><a class="menu__item p" href="#">FIVB</a>
                            <div class="socials menu__socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
                            </div>
                        </div>
                      </div><a class="header__user" href="#"></a>
                  </div>
                </div>
              </div>
            <div class="section__top position-relative">
              <div class="container-fluid">
                <div class="row pt-20 pt-xl-100 pb-20 pb-xl-100">
                  <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                        <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                        <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                        <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                        <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                        <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                        <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                        <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                        <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                        <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                        <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                        <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                        <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news" href="#">
                        <p class="xs mb-20 mb-xxl-40 text-white">17/04/2019</p>
                        <p class="font-weight-bold mb-0 text-white">FISU единогласно выбрала Екатеринбург местом проведения летней Универсиады в 2023 году</p></a>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-xxl-3 mb-30"><a class="news news--all" href="#">
                        <div class="h2 mb-0 text-white">Архив <br>новостей</div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="section__bottom">   
                <div class="footer">
                  <div class="container-fluid">
                    <div class="row footer__wrapper">
                      <div class="col-lg-8 d-flex">
                        <div class="footer__left">
                          <div class="footer__left-top">
                            <div class="footer__contact">г. Москва, ул. Пресненский Вал, 27</div><a class="footer__contact" href="#">+7 495 109-02-00</a><a class="footer__contact" href="#">info@ruvents.com</a>
                          </div>
                          <div class="footer__copyright">© 2020</div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="footer__right">
                          <div class="footer__right-top">
                            <p class="mb-30">Организация</p>
                            <div class="footer__links-list"><a class="footer__link" href="#">Карьера</a><a class="footer__link" href="#">Руководство</a><a class="footer__link" href="#">Пресс-служба</a><a class="footer__link" href="#">Контакты</a><a class="footer__link" href="#">Техническая документация</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
