public/press.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
        <div class="sidebar wrapper__sidebar">
          <div class="sidebar__top"><a class="logo" href="index.html"><img src="./img/logo.svg" alt></a>
          </div>
          <div class="sidebar__bottom">
              <div class="socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
              </div>
          </div>
        </div>
      <div class="wrapper__content">
          <div class="header">
            <div class="header__wrapper">
              <div class="header__title"><a class="header__back" href="index.html"></a>
                <div class="h2 mb-0">Организация</div>
              </div>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a><a class="menu__btn menu__btn--active" href="#"></a>
                    <div class="menu__content"><a class="logo menu__logo" href="index.html"><img src="./img/logo.svg" alt></a><a class="menu__item menu__item--active p" href="#">Города</a><a class="menu__item p" href="#">Новости</a><a class="menu__item p" href="#">Организация</a>
                      <div class="menu__submenu"><a class="menu__submenu-item menu__submenu-item--active" href="#">Руководство</a><a class="menu__submenu-item" href="#">Техническая документация</a><a class="menu__submenu-item" href="#">Карьера</a><a class="menu__submenu-item" href="#">Контакты</a></div><a class="menu__item p" href="#">FIVB</a>
                        <div class="socials menu__socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a>
                        </div>
                    </div>
                  </div><a class="header__user" href="#"></a>
              </div>
            </div>
              <div class="submenu">
                <div class="submenu__content"><a class="submenu__link submenu__link--active p font-weight-black text-uppercase" href="#">Руководство</a><a class="submenu__link p" href="#">Техническая документация</a><a class="submenu__link p" href="#">Карьера</a><a class="submenu__link p" href="#">Контакты</a></div>
              </div>
          </div>
        <div class="container-fluid my-30 my-lg-75">
          <div class="row">
            <div class="col-lg-6">
              <p class="mb-30">Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.</p>
              <p>Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="footer footer--inner">
        <div class="container-fluid">
          <div class="row footer__wrapper">
            <div class="col-lg-8 d-flex">
              <div class="footer__left">
                <div class="footer__left-top">
                  <div class="footer__contact">г. Москва, ул. Пресненский Вал, 27</div><a class="footer__contact" href="#">+7 495 109-02-00</a><a class="footer__contact" href="#">info@ruvents.com</a>
                </div>
                <div class="footer__copyright">© 2020</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer__right">
                <div class="footer__right-top">
                  <p class="mb-30">Организация</p>
                  <div class="footer__links-list"><a class="footer__link" href="#">Карьера</a><a class="footer__link" href="#">Руководство</a><a class="footer__link" href="#">Пресс-служба</a><a class="footer__link" href="#">Контакты</a><a class="footer__link" href="#">Техническая документация</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/press.pug
extends ../templates/template.pug
block content
  .wrapper
    +sidebar({
      front: true
    }).wrapper__sidebar
    .wrapper__content
      +header({
        title: 'Организация',
        modifier: 'submenu'
      })
      .container-fluid.my-30.my-lg-75
        .row
          .col-lg-6
            p.mb-30 Чемпионат мира по волейболу FIVB 2022 пройдет в России с 26 августа по 11 сентября 2022 года. Он станет 20-м в истории Международной федерации волейбола FIVB.
            p Матчи Чемпионата мира пройдут в десяти российских городах: Москва, Санкт-Петербург, Калининград, Ярославль, Казань, Уфа, Екатеринбург, Новосибирск, Кемерово и Красноярск (Белгород – резервный город).
  +footer.footer--inner
